<h1>Public Data Web Services</h1>
<p>Public data exposed via Web services.</p>

<p>Github: <a href="https://github.com/mgrassotti/we-data">https://github.com/mgrassotti/we-data</a>
<hr>
<% @services.each do |service| %>
  <%= render service %>
  <hr>
<% end %>
